* {
  margin: 0;
}

body {
  background-color: #d4d4d4;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
  width: 70%;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
    width: 100%;
  }

  .app__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MuiSelect-outlined.MuiSelect-outlined {
    padding-right: 32px;
    width: 220px;
  }

  .app__left {
    flex: 0.8;
    width: 100%;
  }

  .app__right {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
