.table {
  margin-top: 20px;
  overflow: scroll;
  height: 350px;
  background-color: #ffffff;
  color: #464545;
  font-size: 13px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.3rem;
}

.table tr:nth-of-type(odd) {
  background-color: #dfdede;
}

@media (max-width: 900px) {
  .table {
    /**/
  }
}
